body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: #000000;
	color: #fff;
	font-family: "Montserrat";
}

.slider {
	width: 100%;
	height: 100vh;
	text-transform: uppercase;
	position: relative;
}

.rgbKineticSlider {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	filter: grayscale(1);
}

nav a {
	text-decoration: none;
	position: absolute;
	top: 50vh;
	z-index: 1;
	transition: all 300ms ease;
	color: #fff;
}

nav a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 1px;
	width: 100%;
	background: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 400ms ease;
}

nav a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

nav a.prev {
	left: 10vw;
}

nav a.next {
	right: 10vw;
}

@media screen and (max-width: 52em) {
	nav a {
		top: auto;
		bottom: 3rem;
	}
}
